        

body{
    background-color: #6858D8;
    padding: 15px 0px ;
}

.hidden{
    display: none;
}

/* Hide the default radio button */

input[type="radio"] {
    display: none;
    
}



.main{
    max-width: 600px;
    background-color: #6858D8;
    
}

.mainForm{
    /* display: none; */
    padding: 12px;

}

.headSection{
    padding: 10px;
    color: #fff;
    align-items: center;
    z-index: 100;
}

button{
    padding: 5px 16px;   
    border-radius: 8px;
}

.btn{
    background-color:#F89850;
    border: none;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    padding-left: 5px;
    text-align: center;
    align-items: center;
}



.promptArea{
    background-color: rgb(232, 232, 248);
    color: black;
    border: 0.8px solid rgba(48, 48, 48, 0.226);
    border-radius: 12px;
    height: 200px;
    padding: 10px;
    font-size: 15px;
    resize: none;


    transition: outline 100ms ease-in;
    
}

.promptArea::placeholder{
    font-size: 15px;
}
    
.promptArea:focus{
    outline: 1px solid #bab1f1;
    
}

/* Input Section - It is the white, clearly visible card*/
.inputSection{
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    margin-top: 12px;
    -webkit-box-shadow: 1px 4px 9px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 4px 9px -5px rgba(0,0,0,0.6);
    box-shadow: 1px 4px 9px -5px rgba(0,0,0,0.6);
}

/* Styling the Radio Input */

input[type="radio"]:checked+label,
    .Checked+label {
        background-color: #6858D8;
        color: #fff;
}

label { /* This controls the button like radio buttons seen*/
    text-align: center;
    border: 0.8px solid rgba(48, 48, 48, 0.226);
    cursor: pointer;
    flex: 1; 
    padding: 6px 16px;   
    border-radius: 8px;

    transition: 
    background 300ms ease,
    background-color 300ms ease,
    color 300ms ease,
    box-shadow 300ms ease !important
    ;

}

label:hover {
    background: #eeeeee;
}




.chooseQuestForm > h3{
    margin: 12px 0;
    font-size: 16px;
}

.btnNull{ /* Conrols the general styling of the difficulty radios */
    background-color: none;
    border: 0.8px solid rgba(48, 48, 48, 0.226);
    flex: 1;   
    align-self: center;
}

.btnNull:nth-of-type(2){
    flex: 1.5;
}

.btnSelected{
    background-color: #6858D8;
    color: #fff;
}

.chooseQuestForm .btnContainer{
    gap: 15px;
    
}

/* For controlling difficulty mode */

.backDrop {
    padding: 10px;
    background-color: rgb(232, 232, 248);
    border-radius: 8px;
}

/* Styling the level selector in this */
.btnLevel{ 
    border: none;
    background-color: rgb(232, 232, 248);
    color: #1f1f16;
    border-radius: 16px;
    font-weight: 700;
    padding: 6px 4px !important;
    
}

.btnLevelSelected{ /* Controls the color of the radios*(except for that of the difficulty section) when selected */
    background-color: #fff;
    color: #1f1f16;
    box-shadow: 0px, 5px, 10px, rgba(0, 0, 0, 0.527);

    transition: 
    background 300ms ease,
    background-color 300ms ease,
    color 300ms ease,
    box-shadow 300ms ease;
    
}

input[type="radio"]:checked+.difficulty,
    .Checked+.difficulty { /* Controls the color of the difficulty section when selected */
        background-color: #fff;
        color: #1f1f16;
        /* -webkit-box-shadow: 1px 10px 9px -5px rgba(0,0,0,0.6);
        -moz-box-shadow: 1px 10px 9px -5px rgba(0,0,0,0.6); */
        box-shadow: 1px 10px 9px -5px rgba(0,0,0,0.6);

        transition: 
        background 300ms ease,
        background-color 300ms ease,
        color 300ms ease,
        box-shadow 300ms ease !important
        ;
    
}