body {
  background-color: #6858d8;
  padding: 0px 0px;
}

.hidden {
  transform: scale(0);
  /* display: none !important; */
}

/* Hide the default radio button */

input[type="radio"] {
  display: none;
}

.main {
  max-width: 600px;
  background-color: #6858d8;
}

.mainForm {
  /* display: none; */
  padding: 12px;
}

.headSection {
  padding: 10px;
  color: #fff;
  align-items: center;
  z-index: 100;
}

/* For the generate button */
button {
  padding: 5px 16px;
  border-radius: 8px;
}

.btn {
  background-color: #f89850;
  border: none;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  padding-left: 5px;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  transition: background-color 300ms cubic-bezier(0.8, 0.16, 0, 1.07),
    color 300ms cubic-bezier(0.8, 0.16, 0, 1.07),
    font-weight 300ms cubic-bezier(0.8, 0.16, 0, 1.07),
    box-shadow 300ms cubic-bezier(0.8, 0.16, 0, 1.07);
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  font-weight: 700;
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  background-color: #aaaaaa;
  cursor: default;
}

.btn:disabled:hover {
  background-color: #aaaaaa;
  color: #fff;
  font-weight: 400;

  box-shadow: none;
}

.promptArea {
  background-color: rgb(232, 232, 248);
  color: black;
  border: 0.8px solid rgba(48, 48, 48, 0.226);
  border-radius: 12px;
  height: 200px;
  padding: 10px;
  font-size: 15px;
  resize: none;

  transition: outline 100ms ease-in;
}

.promptArea::placeholder {
  font-size: 15px;
}

.promptArea:focus {
  outline: 1px solid #bab1f1;
}

/* Input Section - It is the white, clearly visible card*/
.inputSection {
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
  margin-top: 12px;
  -webkit-box-shadow: 1px 4px 9px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 4px 9px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 4px 9px -5px rgba(0, 0, 0, 0.6);
}

/* Styling the Radio Input */

input[type="radio"]:checked + label,
.Checked + label {
  background-color: #6858d8;
  color: #fff;
}

label {
  /* This controls the button like radio buttons seen*/
  text-align: center;
  border: 0.8px solid rgba(48, 48, 48, 0.226);
  cursor: pointer;
  flex: 1;
  padding: 6px 16px;
  border-radius: 8px;

  transition: background 300ms ease, background-color 300ms ease,
    color 300ms ease, box-shadow 300ms ease !important
    ;
}

label:hover {
  background: #eeeeee;
}

.chooseQuestForm > h3 {
  margin: 12px 0;
  font-size: 16px;
}

.btnNull {
  /* Conrols the general styling of the difficulty radios */
  background-color: none;
  border: 0.8px solid rgba(48, 48, 48, 0.226);
  flex: 1;
  align-self: center;
}

.btnNull:nth-of-type(2) {
  flex: 1.5;
}

.btnSelected {
  background-color: #6858d8;
  color: #fff;
}

.chooseQuestForm .btnContainer {
  gap: 15px;
}

/* For controlling difficulty mode */

.backDrop {
  padding: 10px;
  background-color: rgb(232, 232, 248);
  border-radius: 8px;
}

/* Styling the level selector in this */
.btnLevel {
  border: none;
  background-color: rgb(232, 232, 248);
  color: #1f1f16;
  border-radius: 16px;
  font-weight: 700;
  padding: 6px 4px !important;
}

.btnLevelSelected {
  /* Controls the color of the radios*(except for that of the difficulty section) when selected */
  background-color: #fff;
  color: #1f1f16;
  box-shadow: 0px, 5px, 10px, rgba(0, 0, 0, 0.527);

  transition: background 300ms ease, background-color 300ms ease,
    color 300ms ease, box-shadow 300ms ease;
}

input[type="radio"]:checked + .difficulty,
.Checked + .difficulty {
  /* Controls the color of the difficulty section when selected */
  background-color: #fff;
  color: #1f1f16;
  /* -webkit-box-shadow: 1px 10px 9px -5px rgba(0,0,0,0.6);
        -moz-box-shadow: 1px 10px 9px -5px rgba(0,0,0,0.6); */
  box-shadow: 1px 10px 9px -5px rgba(0, 0, 0, 0.6);

  transition: background 300ms ease, background-color 300ms ease,
    color 300ms ease, box-shadow 300ms ease !important
        ;
}

/* Animation For Generating Questions */
.main-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.toggleLoadAnimation{
  display: none;
}

.hideScroll{
  /* For the body element */
  overflow: hidden; 
}

.card {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100dvh;
  background: #07182e;
  position: absolute;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 0px;
  margin: auto;
  text-align: center;
}

.card p {
  z-index: 1;
  color: white;
  margin-top: 10px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  /* border-radius: 15px; */
}
/* .card:hover:before {
      background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
      animation: rotBGimg 3.5s linear infinite;
    } */

.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

/* For bouning loading animation */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}



/* For displaying error message */
.error-card-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #13131656;
  width: 100%;
  z-index: 120;
  

 

}
.error-card {
  margin: auto;
  overflow: hidden;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 290px;
  box-shadow: 0 20px 50px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  transition: transform 50ms ease;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.image svg {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
  background-color: #F9FAFB;
}

.cancel-error-card {
  cursor: pointer;
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  transition: background-color 300ms ease,
  color 300ms ease;
}

.cancel-error-card:hover{
  background-color: #ff3535;
  color: #fff;
}